
/***********************
= hero slider
***********************/
.hero {
	position: relative;
	height: 100vh;

	@include media-query(767px) {
		min-height: 520px;
	}

	overflow: hidden !important;

	.slide {
		height: 100vh;

		@include media-query(767px) {
			min-height: 520px;
		}

		background-repeat: no-repeat;
		position: relative;

		img {
			display: none;
		}

		&:before {
			content: "";
			@include overlay(transparentize($black, 0.6));
		}
	}

	.announcement-wrapper {
		width: 100%;
		color: #fff;
		text-align: center;
		position: absolute;
		top: 60%;
		@include translatingY;
		z-index: 10;

		@include widther(768px) {
			width: 85%;
			left: 50%;
			top: 60%;
			@include center-by-translating();
		}

		.married-text  {
			letter-spacing: -2px;
			span {
				display: inline-block;
			}
		}

		span {
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 7px;
			display: block;

			@include media-query(991px) {
				font-size: 18px;
			}

			@include media-query(767px) {
				font-size: 17px;
				letter-spacing: 4px;
			}

			@include media-query(450px) {
				font-size: 14px;
				letter-spacing: 4px;
			}
		}

		.couple-name {
			background-color: transparentize($theme-primary-color, 0.5);
			display: inline-block;
			margin-top: 20px;
			padding: 15px 35px;
			position: relative;

			@include media-query(450px) {
				padding: 15px 15px;
			}

			&:before,
			&:after {
				content: "";
				background-color: $theme-primary-color;
				width: 105%;
				height: 3px;
				position: absolute;
				left: 50%;
				@include translatingX;

				@include media-query(767px) {
					height: 2px;
				}

				@include media-query(450px) {
					height: 1px;
				}
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}
		}

		h1 {
			font-family: $parisienne;
			font-size: 65px;
			color: #fff;
			margin: 0;

			@include media-query(991px) {
				font-size: 45px;
			}

			@include media-query(767px) {
				font-size: 40px;
			}

			@include media-query(450px) {
				font-size: 32px;
			}
		}

		.date {
			font-family: $section-title-font;
			font-size: 48px;
			line-height: 1.9em;

			@include media-query(991px) {
				font-size: 28px;
			}

			@include media-query(767px) {
				font-size: 25px;
			}
		}

		.vector {
			background: url(../images/announcement-bg.png) no-repeat center bottom;
			background-size: 100%;
			width: 325px;
			height: 37px;
			margin: 0 auto;

			@include media-query(991px) {
				width: 220px;
			}
		}
	}


	/** slider dots **/
	.hero-slider .owl-controls {
		margin: 0;
		padding: 0;
		position: fixed;
		top: 50%;
		left: 96%;
		z-index: 99999;

		@include media-query(767px) {
			display: none;
		}
	}

	.hero-slider .owl-dots .owl-dot {
		display: block;
	}

	 .hero-slider .owl-dots .owl-dot span {
	 	background-color: transparent;
	 	margin: 0 0 15px 0;

	 	@include media-query(450px) {
	 		margin: 0 10px 0 0;
	 	}
	 }

	.hero-slider .owl-dots .owl-dot span:before {
		font-family: FontAwesome;
		content: "\f004";
		font-size: 20px;
		color: darken($theme-primary-color, 5%);
		opacity: 0.5;

		@include media-query(450px) {
			font-size: 15px;
		}
	}

	.hero-slider .owl-dots .active span:before {
		opacity: 1;
	}
}
