#clock {
	text-align: center;
	
	overflow: hidden;

	.box {
		width: 25%;
		float: left;
		padding: 15px 0;
	}

	> .box:nth-child(odd) {
		background-color: darken($theme-primary-color, 3%);
	}

	.box div {
		font-size: 40px;
	    display: block;
	    @include media-query(991px) {
			font-size: 30px;
		}

	    @include media-query(776px) {
			font-size: 24px;
		}	
	}

	.box span {
		display: block;
	    font-size: 12px;
	    text-transform: uppercase;
	    @include media-query(991px) {
			font-size: 11px;
			letter-spacing: 1px;
			text-transform: capitalize;
		}
	}
}
